<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/estilos.css">
    <title>Mi proyecto</title>
</head>
<body>
    <form class="categories">
        <h3 class="form_categories">Formulario de categorías</h3>
        <h4>Nombre de la categoría</h4>
        <input type="text" placeholder=" Ingrese el nombre de categoría" class="categories_txt" id="name" required>
        <h4>Número de ID</h4>
        <input type="number" placeholder="Ingrese el número de Id" class="categories_txt" id="number" required>
        <div class="div_btn">
            <button type="submit" class="btn" id="btn_save">Guardar</button>
            <button type="button" class="btn" id="btn_cancel">Cancelar</button>
        </div>
        <h1 class="name">&copy Juan Miranda</h1>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/assets/js/jquery.js" type="text/javascript"></script>
<script  src="/assets/js/validaciones.js" type="text/javascript"></script>
</html>